# windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
__pycache__
.idea
*.pkl

#My configurations:
db.ini
deploy_key_rsa

version.txt
config.txt
GeoLite2-City.mmdb
package.json
image
